/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
}


/****************/
/* JOUW STYLING */
/****************/

svg{
  position: relative;
  width: 35px;
  color: #520092;
}

a svg{
  color: #034001;
}

body {
  background-color: #e0cef2;
}

img {
  width: 10%;
}

body > ul{
  background-color: #e8f29b;
  padding: 1em;
  text-align: center;

  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 5em;
  overflow: auto;
  
}

body > ul::-webkit-scrollbar { 
  display: block; 
}


body > ul >li{
	font-family: Helvetica-Light;
	list-style: disc;
	color: #034001;
	font-size: 24px;
  min-width: 100%;
  scroll-snap-align: center;
}

header {
  background-color: #FFFEF6;
  z-index: 2;
}

header ul {
  display: flex;
  list-style: none;
  height: 5em;
}

ul a {
  text-decoration: none;
}

header li {
  flex-grow: 1;
  justify-content: center;
  font-family: obviously-narrow-black;
  font-size: 24px;
  color: #520092;
  margin-top: .7em;
}

header ul img {
  width: 100px;
}

footer {
  background-color: #f238b1;
}

h3,
h2,
h1 {
  font-family: obviously-narrow-black;
  color: #520092;
  margin-left: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1{
  font-size: 60px;
  line-height: 1em;
}

h2{
  font-size: 60px;
  line-height: 1em;
}

h3{
  font-size: 40px;
}

p {
  font-family: obviously-narrow;
  font-size: 20px;
  color: #520092;
  margin-left: 20px;
  margin-bottom: 1em;
}


/* ************* */
/*  home pagina  */
/* ************* */

.shop-catagorie ul{
  display: flex;
}

.shop-catagorie ul a{
  text-decoration: none;
}

main > article{
  overflow: hidden;
  padding-bottom: 1.5em;
}

main > article img {
  width: 100%;
  border-radius: 5em;
  transform: rotate(-5deg) translateY(-250px) translateX(70px);
  z-index: 1;
}

main > article a{
  color: #034001;
  background-color: #e8f29b;
  border-radius: 2em;
  text-decoration: none;
  font-family: obviously-narrow-black;
  font-size: 20px;
  padding: 1em;
  margin-left: 1em;
}


section:first-of-type article{
  position: relative;
}

section:first-of-type a{
  color: #034001;
  background-color: #e8f29b;
  border-radius: 2em;
  text-decoration: none;
  font-family: obviously-narrow-black;
  font-size: 20px;
  padding: 0.5em;
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 1.3em;
  left: 1.6em;
}

section:first-of-type article img {
  width: 90%;
  border-radius: 3em;
  margin-left: 1.4em;
}

section:nth-of-type(2) article img {
  width: 20%;
}

section:nth-of-type(2) a{
  color: #e0cef2;
  background-color: #520092;
  border-radius: 2em;
  text-decoration: none;
  font-family: obviously-narrow-black;
  font-size: 20px;
  padding: 0.5em;
  margin-left: 4em;
}

section:nth-of-type(3) {
  background-color: #f2e9f1;
}

section:nth-of-type(3) img{
  width: 80%;
  border-radius: 3em;
  margin-left: 2.5em;
  margin-top: 7em;
}

section:nth-of-type(3) h2{
  color: #f238b1;
  margin-right: 1em;
}

section:nth-of-type(4) {
  background-color: #f2e9f1;
}

section:nth-of-type(4) h2{
  color: #f238b1;
}

section:nth-of-type(4) article{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}

section:nth-of-type(4) article img{
  width: 90%;
  margin: 1em;
  border-radius: 2em;
}



/* footer */

footer h2,footer h3, footer p, footer ul{
color: #f2e9f1;
}

footer ul li{
  font-family: Helvetica-Light;
  margin: 1.5em;
  list-style-type: none;
}

footer > ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

footer svg{
  color: #f238b1;
  width: 200px;
  display: flex;
}

footer svg:first-of-type{
  width: 200px;
  fill: #f2e9f1;
  margin: 3em;
}

footer section{
  display: flex;
}

footer section article{
  display: inline-block;
}

footer h3{
  display: inline;
}




/* **************** */
/*   shop pagina    */
/* **************** */



.shop-pagina {
  background-color: #FFFEF6;
}


/* onder navigatie */


.shop-catagorie {
  background-color: #e0cef2;
  display: flex;
  overflow-x: scroll;
}

.shop-catagorie::-webkit-scrollbar{
  display: none;
}

.shop-catagorie ul li {
  list-style: none;
  color: #e0cef2;
  background-color: #520092;
  margin: 1em;
  padding: 0.3em 1em 0.5em 1em;
  border-radius: 1.5em;
  text-align: center;
  font-family: obviously-narrow-black;
  font-size: 24px;
}

.shop-catagorie ul li:first-of-type{
  background-color: #CB8BFF;
  color: #520092;
}

.shop-catagorie ul :hover{
  background-color: #CB8BFF;
  color: #520092;
  transition: all .3s;
}


/* articles */


.shop-pagina section:nth-of-type(2){
  display: grid; 
  grid-gap: 2px;
  margin-right: 5em;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

.shop-pagina section:nth-of-type(2) article {
  transition: all 250ms ease;
  border: 2px solid #FFFEF6;
  border-radius: 2em;
  width: 90%;
  margin-left: 2em;
  margin-right: 2em;
}

.shop-pagina section:nth-of-type(2) article:hover{
  border: 2px solid #0052CD;
  border-radius: 2em;
}

.shop-pagina section:nth-of-type(2) article:nth-child(-n+9):hover{
  border: 2px solid #520092;
  border-radius: 2em;
}

.shop-pagina section:nth-of-type(2) article h3{
  height: 1em;
  font-size: 240%;
  line-height: 1em;
}

.shop-pagina section:nth-of-type(2) article p{
  font-size: 150%;
  line-height: 1em;
}

.shop-pagina section:nth-of-type(2) article img{
  width: 100%;
  background-color: #e0cef2;
  border-radius: 2em;
  box-shadow: 3px 3px #0052CD;
}

.shop-pagina section:nth-of-type(2) article:nth-child(n+10) h3{
  width: 100%;
  font-size: 28px;
  color: #0052CD;
}

.shop-pagina section:nth-of-type(2) article:nth-child(n+10) img{
  width: 100%;
  background-color: #DEFFF9;
  border-radius: 2em;
}

section article:nth-child(n+10) p {
  font-family: obviously-narrow;
  font-size: 20px;
  color: #0052CD;
  margin-left: 20px;
  margin-bottom: 1em;
}

section article:nth-child(n+10) button{
  display: block;
  background-color: #0052CD;
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 8em;
  color: #FFFEF6;
  font-family: obviously-narrow-black;
  font-size: 20px;
  margin-left: 2em;
  margin-bottom: 1em;
}

.shop-pagina section:nth-of-type(3){
  display: flex; 
  flex-flow: row wrap;
}

.shop-pagina section:nth-of-type(3) article{
  width: 10em;
  margin: 1em;
}

.shop-pagina section:nth-of-type(3) article h3{
  height: 5em;
  font-size: 30px;
}

.shop-pagina section:nth-of-type(3) article img{
  width: 10em;
  background-color: #e0cef2;
  border-radius: 2em;
}

section article button{
  display: block;
  background-color: #520092;
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 8em;
  color: #e0cef2;
  font-family: obviously-narrow-black;
  font-size: 20px;
  margin-left: 2em;
  margin-bottom: 1em;
}

.ondernavigatie{
  font-family: Helvetica-Light;
  color: #520092;
  text-align: end;
  margin-right: 2em;
}

.ondernavigatie svg{
  width: 1.5em;
  height: 1.5em;
  color: #FFFEF6;
  vertical-align: middle;
}

.ondernavigatie li:nth-child(-n+3){
  display: inline-block;
  text-align: center;
  margin: 0.8em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border: solid #FFFEF6;
  border-radius: 50%;
}

.ondernavigatie li:first-of-type{
  border: solid 2px #520092;
  border-radius: 50%;
}

.ondernavigatie li:last-of-type{
  background-color: #520092;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0.8em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.ondernavigatie li:nth-child(-n+3):hover{
  border: solid 2px #520092;
  border-radius: 50%;
}





@font-face {
  font-family: "obviously-narrow-black";
  src: url("https://cdn.shopify.com/s/files/1/0680/9832/6759/files/Obviously-NarrowBlack.woff?v=1719230879");
}

@font-face {
  font-family: "obviously-narrow";
  src: url("https://seepje.com/cdn/shop/t/20/assets/Obviously-Narrow.woff?v=153060207017436625301724421260");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("https://seepje.com/cdn/shop/t/20/assets/Helvetica-Light.woff?v=178486114463115871831724421260");
}
